*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
input,label{
    display: block;

}
label{
    color: green;
}
input{
    width: 100%;
}
.submit{
    margin: 15px auto 0 auto;
    width: 25%;
    background-color: blue;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 20px;
    border: none;
}
form{
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid black;
    padding: 25px;
}
.g-recaptcha{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}